<mat-dialog-content>
    <div class="content">
        <h3>About Job Scheduler</h3>
        <p>Welcome to Job Scheduler, a CPU scheduling simulation application built for educational purposes. This application demonstrates various CPU scheduling algorithms, including First Come First Serve (FCFS) and Shortest Job First (SJF).</p>

        <p>This application was developed by Gayathri Jayachander as a project for Advanced Operating System (CS-5352) at Texas Tech University.</p>
        
      </div>
      
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>